html, body, .m-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fx {
    display: flex;
}
.fx-column {
    display: flex;
    flex-direction: column;
}
.fx-1 {
    flex: 1;
}
.m-container {
    margin-top: -20px;
    position: relative;
    overflow: hidden;
}
.m-desc-panel {
    position: absolute;
    right:0;
    padding: 10px;
    width:240px;
}
.m-menu {
    width: 240px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
}
.list-group {
    margin-bottom: 0;
}
.list-group-item.select, .list-group-item:hover {
    color: #555;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel {margin-bottom: 0;}
.panel-title>a{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    font-weight: bolder;
}
.panel-title>a:after{
    content: '-';
    float: right;
    font-weight: bolder;
}
.panel-title>a.collapsed:after{
    content: '+';
}



.m-item-hide + * {
    display: none;
}

.m-map {
    position: relative;;
}
.m-code {
    position: absolute;
    overflow-y: auto;
    background-color: #ffffff;
    z-index: 1;
}
pre{
    overflow: hidden;
    margin: 10px;
    white-space: pre-wrap;
}
iframe {
    width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden;
}